/* Importação dos icones do bootstrap */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");

:root{
    --textoClaro: #E4E0DD;
    --bgEscuro: #27242C;
    --bgClaro: #C9C1BB;
    --textoEscuro: #27242C;

    /* breakpoints do bootstrap */
    --sm: 576px;
    --md: 768px;
    --lg: 992px;
    --xl: 1200px;
    --xxl: 1400px;
}

html{
    scroll-behavior: smooth;
    background-color: var(--bgEscuro);
}

*{
    letter-spacing: 0.01em;
    font-family: 'Chivo Mono', monospace;
}

body{
    overflow-x: hidden;
}


a{
    font-family: 'Chivo Mono', monospace;
    letter-spacing: 0.1em;
}

/* pre loader*/
.loader-container{
    width: 100%;
    height: 100vh;
    background-color:var(--bgEscuro);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}
.loader{
    width: 50px;
    height: 50px;
    border: 5px solid;
    color: var(--textoClaro);
    border-radius: 50%;
    border-top-color:transparent;
    animation:Loader 1.2s linear infinite;
}
@keyframes Loader {
    to{
        transform: rotate(360deg);
    }
}
/* pre loader end*/

/* navbar*/
.navbar{
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(0.5rem);
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.51);
}
.navbar-toggler{
    border: none !important;
    appearance: none !important;
    box-shadow: none !important;
}

.brand{
    color: var(--textoClaro);
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    margin-left: 1rem;
    padding-left: 7px;
    
    position: relative;
    --c:linear-gradient(rgb(130, 131, 136) 0 0);
    background: var(--c), var(--c);
    background-size: .3em .1em;
    background-position:50% 100%;
    background-repeat: no-repeat;
    transition: .3s linear, background-size .3s .2s linear;
}


/* quando o dispositivo suportar hover */
@media (hover: hover) {
    .brand:hover {
      background-size: 50% .1em;
      background-position: 10% 100%, 90% 100%;
    }
}
/* quando o dispositivo não suportar hover */
@media (hover: none) {
    .brand.click-animation:hover {
        background-size: 50% .1em;
        background-position: 10% 100%, 90% 100%;
    }
}

.bi-list{
    color: white;
    font-size: 30px;
}

.navBarItens{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    
}

.navBarItens a{
    position: relative;
    margin: 1.5rem 0rem 1rem 0.5rem;
    padding: 0 5px 0 5px;

    text-decoration: none;
    color:var(--textoClaro);
}

.navBarItens a:hover {
    color: black;
    font-weight: bold;
    text-shadow: none;

}

.navBarItens a::before {
    background: var(--bgClaro);
    opacity: 01;
    content: "";
    inset: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.2s ease-in-out;
    z-index: -1;
  }
  
.navBarItens  a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
  }

@media screen and (min-width: 768px) {
    .navBarItens{
        flex-direction: row;
        justify-content: flex-end;
    }
    .navBarItens a{
        padding: 0 5px 0 5px;
        margin: 0 2rem;
    }
}



/* navbar end */

/* home */
.home{
    background-image: url(/images/homebg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.home .content{
    padding-left: 3rem;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.51);
    color: var(--textoClaro);
    display: inline-block;
    margin-left: 0rem;

}

.home h1{
    font-weight: bold;
    font-size: clamp(36px,8vw,80px);
    max-width: 50rem;
}
.home h2{
    font-size: clamp(16px,3vw,32px);
    margin-bottom: 0px;
    padding-right: 1rem;
}

.Typewriter{
    border-right: 3px solid;
    display: inline-block;
    width: 100%;
    max-width: max-content;
    white-space: nowrap;
    overflow: hidden;

    opacity: 0;
  }
  .animate {
    opacity: 1;
    animation: typing 3.5s steps(100), blink .5s step-end infinite alternate;
  }

  
  @keyframes typing {
    from {
        width: 0;
    }
    to{
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

.home .transicao{
    position:absolute;
    width: 100%;
    height: 30vh;
    align-self: end;
}

@media screen and (min-width: 992px) {
    .home .content{
        padding-left: 10vw;
        margin-left: auto;
    }
 }

/* home end*/

/* sobre mim */
.sobreMim{
    
    background-color: var(--bgEscuro);
    height: fit-content;
    color: var(--textoClaro);
    position: relative;
}

.sobreMim .row{
    display: flex;
    flex-direction: column-reverse;
}

.sobreMim h1{
    font-size: clamp(60px,4vw,80px);
    float: right;
    position: relative;
    margin-top: 4rem;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
}

.sobreMim .conteudo{
    clear: both;
}

.sobreMim .foto .img-fluid{
    justify-content: end;
    max-width: 60%;
    margin-right: -1rem;
}

.sobreMim .texto{
    padding-right: 1vw;
}
.sobreMim .texto h3{
    line-height: clamp(21px,3vw,2rem);
    max-width: inherit;
    font-size: 18px;
    text-align: center;
    padding-right: 1rem;
    padding-left: 1rem;

}

.sobreMim .transicao{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8rem;
}

@media screen and (min-width: 768px) {
    .sobreMim{
        height: 60rem;
    }

    .sobreMim .row{
        flex-direction: row;
    }
    .sobreMim h1{
        margin-top: 10vw;
        margin-bottom: 0vw;
        padding-bottom: 3.5rem;
    
    }
    .sobreMim .texto h3{
        font-size: clamp(20px,1.5vw,24px);
        margin-left: -6vw;
        border-left: 2px solid var(--textoClaro);
        padding-left: 1rem;
        text-align: start;
        line-height: 1.5rem;
    }

    .sobreMim .foto .img-fluid{
        max-width: 39vw;
        margin-right: 1rem;
        margin-bottom: -19rem;

    }
}

@media screen and (min-width: 992px) {
    .sobreMim h1{
        margin-top: 9vw;
        margin-bottom: -2vw;
        padding-bottom: 3.5rem;
    }
    .sobreMim .texto h3{
        line-height: 1.8rem;
    }

    .sobreMim .foto .img-fluid{
        max-width: 45vw;
        margin-right: 1rem;
        margin-bottom: -5rem;

    }
}


@media screen and (min-width: 1200px) {
    .sobreMim h1{
        margin-top: 9vw;
        margin-bottom: -2vw;
        padding-bottom: 1.5rem;
    }
    .sobreMim .texto h3{
        line-height: 2rem;
    }
    .sobreMim .foto .img-fluid{
        max-width: 50vw;
        margin-right: 0rem;
        margin-bottom: 0rem;

    }
}

@media screen and (min-width:1400px) {
    .sobreMim h1{
        margin-top: 7vw;
        margin-bottom: -2vh;
        padding-bottom: 0.5rem;
    }
}


/* sobre mim end*/


/* Skills */
.skills {
    position: relative;
    background-color: var(--bgClaro);
    color: var(--textoEscuro);
    height: 46rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skills span{
    font-weight: bold;
}

.skills h1 {
    font-size: 38px;
    margin-bottom: 1rem;
    padding-top: 0rem;
}

.skills .conteudo {
    width: 100%;
    width: 80%;
    max-width: 1200px;
}

.skills .row{
    flex-direction: column;
    align-content: center;
    margin: auto;
}

.skills h3 {
    font-size: 18px;
}

.skills .bloco_1 {
    width: 100%;
    text-align: center;
    padding: 1rem;
}

.skills .bloco_2 {
    width: 100%;
    text-align: center;
    padding: 1rem;
}

.skills .transicao{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25vw;
}

@media screen and (min-width: 768px) {
    .skills{
        height: 60rem;
    }
    .skills .conteudo {
        width: 80%;
        max-width: 1200px;
    }
    .skills .row{
        flex-direction: row;
    }
    .skills h3 {
        font-size: clamp(18px,2.5vw,26px);
    }
    .skills h1{
        font-size: clamp(60px,4vw,80px);
        margin-bottom:3rem;
    }
    .skills .bloco_1 {
        text-align: end;
        padding-right: 2rem;
        width:50%
    }
    
    .skills .bloco_2 {
        text-align: left;
        border-left: 2px solid var(--textoEscuro);
        padding-left: 2rem;
        width:50%
    }
    .skills .transicao{
        height: 125px;
    }
}

@media screen and (min-width: 1400px) {
    .skills h1 {
        font-size: 80px
    }
}
/* Skills end*/

/* portifolio*/

.portfolio {
    position: relative;
    background-color: var(--bgEscuro);
    color: var(--textoClaro);
    height:205rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio h1{
    padding-bottom: 70px;
    font-size: 38px;
    padding-top: 5rem;
}

.portfolio .card{
    margin-bottom: 60px;
    padding: 0;
    background-color: rgba(201, 193, 187,0.2);
    color: var(--textoClaro);
}

.portfolio .card .card-body{
    min-height: 225px;
    max-height: 5000px;
    align-items: center;
    justify-content: unset; 
    margin-bottom: 2rem;
}

.portfolio .card h5{
    align-self: flex-start;
}

.portfolio .card .btn{
    background-color: var(--bgEscuro);
    border: 1px solid rgba(201, 193, 187,0.5);
    align-self: flex-start;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

.portfolio .card .btn:hover {
    background-color: rgba(39, 36, 44,0.1);
    transition: 0.5s;
    border: 1px solid rgba(201, 193, 187,0.8);
}

.portfolio .card .btn:active {
    filter: opacity(0.20);
}

.portfolio .transicao{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15vw;
}


@media screen and (min-width:768px) {
    .portfolio {
        height:130rem !important;
    }
    .portfolio h1{
        font-size: clamp(60px,4vw,80px);
        padding-top: 140px;
    }
    .portfolio .transicao{
        height: 12rem;
    }
}
@media screen and (min-width:992px) {
    .portfolio {
        height:100rem !important;
    }
}

/* portifolio end*/

/* Contato */
.contato{
    position: relative;
    background-color: var(--bgClaro);
    color: var(--textoEscuro);
    height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.contato h1{
    font-size: 38px;
    text-align: center;
    padding-top: 5rem;
}

.contato .container:first-child {
    margin-bottom: 2rem;
}

.contato .row {
    align-items: center;
    flex-direction: column;
}

.contato .col {
    text-align: center;
    justify-content: end;

    flex-direction: column;
    align-items: center;
}

.contato .conteudo .img-fluid{
    max-width: 50vw;
    padding-bottom: 1rem;
}


.contato .conteudo ul{
    list-style-type: none;
    width: fit-content;
    margin: auto;
    padding: 0;
}
.contato .conteudo li{
    font-size: 14px;
    text-align: start;
    line-height: 2.5rem;
    font-weight: bold;
}

.contato .conteudo i{
    margin-right: 1rem;
}

.contato .conteudo a{
    text-decoration: none;
    color: var(--textoEscuro);
    padding-left: 0.5rem;
    word-break: break-word;
    max-width: 80%;
}

@media screen and (min-width: 768px) {
    .contato{
        height: 60rem;
        justify-content: center;
    }
    .contato h1{
        font-size: clamp(60px,4vw,80px);
        padding-top: 2rem;
    }
    .contato .col{
        align-items: end;
    }
    .row{
        flex-direction: row !important;
    }
    .contato .conteudo .img-fluid{
        padding-right: 0;
        max-width: 30vw;
        padding-bottom:0;
    }
    .contato .conteudo a {
        font-size: 20px;
        padding-bottom: 2rem;
    }

    .contato .conteudo ul{
        margin: 0;
    }

    .contato .conteudo li{
        font-size: clamp(0px,2.5vw,26px);
        text-align: left;
        border-left: 2px solid var(--textoEscuro);
        padding-left: 2rem;
        max-width: 35rem;
    }
    .texto .col{
        display: grid !important;
        justify-content: start !important;
    }
}

@media screen and (min-width: 992px) {
    .contato .conteudo a {
        font-size: 20px;
    }

}

@media screen and (min-width: 1200px) {
    .contato .conteudo a {
        font-size: 26px;
    }
    .contato .conteudo li{
        line-height: 3.5rem;
    }

}

/* Contato end*/

/* footer */
footer{
    position: absolute;
    bottom: 0;
    background-color: var(--bgEscuro);
    color: var(--textoClaro);
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}
footer h2{
    font-size: clamp(12px,1.5vw,16px);
}
footer h3{
    font-size: clamp(8px,1.2vw,14px);
}

/* footer end*/

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform:  translateX(-100%);
    transition: all 1s;
}

.show { 
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}