:root{
    --textoClaro: #E4E0DD;
    --bgEscuro: #27242C;
    --bgClaro: #C9C1BB;
    --textoEscuro: #27242C;
}

html{
    scroll-behavior: smooth;
}

*{
    letter-spacing: 0.01em;
    font-family: 'Chivo Mono', monospace;
}


a{
    font-family: 'Chivo Mono', monospace;
    letter-spacing: 0.1em;
}



/* navbar*/
.navbar{
    background-color: rgba(0,0,0,0.5);
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.51);
}

.brand{
    color: var(--textoClaro);
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    padding-left: 1rem;
    
}

.navBarItens a{
    padding: 2rem;
    text-decoration: none;
    color:var(--textoClaro);
}
/* navbar end */

/* home hero*/
.home{
    background-image: url(/images/homebg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.home .content{
    padding-left: 10vh;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.51);
    color: var(--textoClaro);
}

.home h1{
    font-weight: bold;
    font-size: 96px;
    max-width: 60vh;
}
.home h2{
    font-size: 36px;
}
.home .transicao{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30vh;
}
/* home hero end*/

/* sobre mim */
.sobreMim{
    
    background-color: var(--bgEscuro);
    height: 100vh;
    color: var(--textoClaro);
    position: relative;
}

.sobreMim h1{
    font-size: 80px;
    border-left: 2px solid var(--textoClaro);
    box-sizing: content-box;
    float: right;
    position: relative;
    padding: 0 20vh 0.5rem 0.75rem;
    margin: 5rem 0 3rem 0 ;
}

.sobreMim .conteudo{
    clear: both;
}

.sobreMim .foto{
    max-width: none;
    justify-content: end;
    margin-right: -100px;
}

.sobreMim .texto{
    border-left: 2px solid var(--textoClaro);
    padding-left: 2rem;
}

.sobreMim .transicao{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
/* sobre mim end*/


/* Skills */
.skills {
    position: relative;
    background-color: var(--bgClaro);
    color: var(--textoEscuro);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skills span{
    font-weight: bold;
}

.skills h1 {
    font-size: 80px;
    margin-bottom: 3rem;
}

.skills .conteudo {
    font-size: 36px;
    width: 80%;
    max-width: 1200px;
}

.skills .bloco_1 {
    text-align: end;
    padding-right: 2rem;
}

.skills .bloco_2 {
    text-align: left;
    border-left: 2px solid var(--textoEscuro);
    padding-left: 2rem;
}

.skills .transicao{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 125px;
}
@media screen and (max-width:900px) {
    .skills .transicao{
    height: 150px;
    }

}
/* Skills end*/

/* portifolio*/
.portfolio {
    position: relative;
    background-color: var(--bgEscuro);
    color: var(--textoClaro);
    height:120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio h1{
    font-size: 80px;
    padding-top: 100px;
    padding-bottom: 150px;
}

.portfolio .card{
    max-width: 450px;
    min-width: 250px;
    margin-bottom: 60px;
    padding: 0;
}

.portfolio .transicao{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
}

/* portifolio end*/

/* Contato */
.contato{
    position: relative;
    background-color: var(--bgClaro);
    color: var(--textoEscuro);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contato h1{
    font-size: 80px;
    margin-top: -200px;
    text-align: center;
}

.contato .container:first-child {
    margin-bottom: 2rem;
}

.contato .row {
    align-items: center;
}

.contato .col {
    text-align: center;
}
/* Contato end*/

/* footer */
footer{
    position: absolute;
    bottom: 0;
    background-color: var(--bgEscuro);
    color: var(--textoClaro);
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}
footer h2{
    font-size: 20px;
}
footer h3{
    font-size: 16px;
}


/* footer end*/

